streamlit==1.24.0
opencv-python-headless==4.8.0.76
numpy==1.24.0
torch==2.2.0
youtube-transcript-api==0.4.4
urllib3==1.26.14
deep-translator==1.8.0
transformers==4.30.2
gtts==2.3.2
yt-dlp==2024.12.17
speechrecognition==3.10.0
Pillow==10.0.0
matplotlib==3.8.0
